tmp/
components/
!components/
components/*
!components/78__esp-wifi-connect/
!components/78__esp-wifi-connect/**
components/78__esp-wifi-connect/wifi_defaults_local.h
managed_components/
build/
.vscode/
.devcontainer/
sdkconfig.old
sdkconfig
dependencies.lock
.env
releases/
main/assets/lang_config.h
main/mmap_generate_emoji.h
.DS_Store
.cache
*.pyc
*.bin
mmap_generate_*.h
.clangd
